<!DOCTYPE html>
<html>


    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/capture_css.css') }}">
    </head>

  <body id = "body_id" class = "center">
    <h1>Start Camera then Capture Exp. Date! we we</h1>
    <h2></h2>
    <div>
	<form method="post" action="/">
		<input type="submit" value="Stop/Start" name="stop" />
		<input type="submit" value="Capture" name="click"/>
	</form>
    <div id = "video_area"> 
	<img  src="{{ url_for('video') }}" >
    </div>
    </div>
            
    </body>


</html>