<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div>
            <form method="post" action="/">
                <label>Email:
                <input type="email" name="email" value="" placeholder="Email@email.com"/>
                </label>
                <label>Password
                <input type="password" name="password" value="" placeholder="password"/>
                </label>
                <input type="submit" name="submit"/>
            </form>
        </div>
    </body>
</html>