{% extends "base.html" %} {% block title %}Sign-Up{% endblock %}
    <body>  
        <h1>Sign-Up</h1>
        <div>
            {%block content%}
            <form method="post" action="/">
                <label>First Name:
                    <input type="text" name="First_Name" value="" placeholder="First Name"/>
                </label>
                <label>Last Name:
                    <input type="text" name="Last_Name" value="" placeholder="Last Name"/>
                </label>
                <label>Email:
                <input type="email" name="email" value="" placeholder="Email@email.com"/>
                </label>
                <label>Password
                <input type="password" name="password" value="" placeholder="password"/>
                </label>
                <button type="submit" name="submit">Submit</button>
            </form>
            <p><a href="Login"> if you have an account Login</a></p>
            {%endblock%}
        </div>  
    </body>
</html>